
@{
    ViewData["Title"] = "Delete Inventory Stock";
}

@model InventoryStockModel

<div class="card border-danger">
    <div class="card-header bg-danger text-white">
        Deleting Inventory Stock
    </div>
    <div class="card-body">
        <h5 class="card-title">Are you sure you want to delete this Inventory Stock?</h5>
        <dl class="row">
            <dt class="col-sm-3">Product Name</dt>
            <dd class="col-sm-9">@Model.ProductName</dd>

            <dt class="col-sm-3">Warehouse Name</dt>
            <dd class="col-sm-9">@Model.WarehouseName</dd>

            <dt class="col-sm-3">Quantity On Hand</dt>
            <dd class="col-sm-9">@Model.QuantityOnHand</dd>

            <dt class="col-sm-3">Quantity Reserved</dt>
            <dd class="col-sm-9">@Model.QuantityReserved</dd>

            <dt class="col-sm-3">Last Updated</dt>
            <dd class="col-sm-9">@Model.LastUpdated</dd>
        </dl>

        <form asp-controller="InventoryStock" asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>


